<h1 class="mt-3">PIPES <small>ANGULAR</small> </h1>
<hr>
<div class="row">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Salida</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ nombre }}</td>
          <td>uppercase</td>
          <td>{{ nombre | uppercase }}</td>
        </tr>
        <tr>
          <td> {{ nombre2 }} </td>
          <td> capitalizado </td>
          <td> {{ nombre2 | capitalizado }} </td>  
        </tr>
        <tr>
          <td> {{ porcentaje }} </td>
          <td> percent </td>
          <td> {{ porcentaje | percent }} </td>  
        </tr>
        <tr>
          <td> {{ PI }} </td>
          <td> number :'3.0-0' </td>
          <td> {{ PI | number:'3.0-0' }} </td>  
        </tr>
        <tr>
          <td> {{ PI }} </td>
          <td> number :'.0-2' </td>
          <td> {{ PI | number:'.0-2' }} </td>  
        </tr>
        <tr>
          <td> {{ Salario }} </td>
          <td> currency </td>
          <td> {{ Salario | currency }} </td>  
        </tr>
        <tr>
          <td> {{ valorPromesa }} </td>
          <td> async </td>
          <td> {{ valorPromesa | async }} </td>  
        </tr>
        <tr>
          <td> {{ fecha }} </td>
          <td> date </td>
          <td> {{ fecha | date }} </td>  
        </tr>
        <tr>
          <td> {{ fecha }} </td>
          <td> date:'medium' </td>
          <td> {{ fecha | date:'medium' }} </td>  
        </tr>
        <tr>
          <td> {{ fecha }} </td>
          <td> date:'short' </td>
          <td> {{ fecha | date:'short' }} </td>  
        </tr>
        <tr>
          <td> {{ fecha }} </td>
          <td> date:'yyyy-MM-dd' </td>
          <td> {{ fecha | date:'yyyy-MM-dd' }} </td>  
        </tr>
        <tr>
          <td> {{ fecha }} </td>
          <td> 
            date:'MMMM - dd':'':'{{ idioma }}'
            <br>
            <button (click)="idioma='es'" class="mr-1 btn btn-primary">  Español </button>
            <button (click)="idioma='en'" class="mr-1 btn btn-secunday">  Ingles </button>
            <button (click)="idioma='pt'" class="mr-1 btn btn-success">  Portugues </button>
          </td>
          <td> {{ fecha | date:'MMMM - dd':'': idioma }} </td>  
        </tr>
      </tbody>
    </table>
  </div>
</div>
<h1></h1>
<h3> Slice <small> slice:1:4 </small> </h3>
<hr>
<ul class="list-group"> 
  <li *ngFor="let lenguaje of lenguaje | slice:0:4" class="list-group-item"> {{lenguaje}} </li>
</ul>

<div class="row mb-5">
  <div class="col"> 

    <iframe 
      width="560" 
      height="315" 
      [src]="videoUrl | domseguro" 
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen>
    </iframe>
  </div>

</div>